<!DOCTYPE html>
<html>

<head lang="pt-br">
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Guia de Serviços da UFAC</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'imagens/logo_ufac.png' %}">
  <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">
  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <span class="pull-left">
      <img src="{% static 'img/logo.png' %}">
      <a class="navbar-brand" href="{% url 'base:home' %}">Guia de Serviços</a>
    </span>
    <div class="pull-right">
      <div class="container">
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <form method="GET" class="form-inline">
            <div class="input-group">
              <input type="text" id="search" name="search" class="form-control" placeholder="Pesquisar">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'setor:setores' %}"> Setores
              </a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="{% url 'base:sugestao' %}">Sugestões</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'base:sobre' %}">Sobre</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-0 mx-lg-1">
              <div class="dropdown">
                <a class="nav-link py-3 px-0 px-lg-3 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{ user }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'base:gerenciar' %}">Gerenciar</a>
<!--                  <a class="dropdown-item" href="#">Alterar senha</a>-->
                  <a class="dropdown-item" href="{% url 'base:logout' %}">Sair</a>
                </div>
              </div>
            </li>
            {% else %}
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3" href="{% url 'base:login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <br><br>
    {% block conteudo %}
    {% endblock %}
  </div>
  <br> <br>
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; GSU2019</small>
    </div>
  </section>

  <!-- SCRIPTS -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>
  <script src="{% static 'js/freelancer.min.js' %}"></script>

  {% block after_html %}
  {% endblock after_html %}
</body>

</html>