{% extends 'base2.html' %}
{% load static %}
{% block conteudo %}

<br><br><br>

        {% if  servico_list  %}
            <h1 class="text-center"> Resultado da pesquisa</h1>
            <div class="row mt-5">
            {% for servico in servico_list %}
                    <div class="alert alert-dark mr-3" role="alert">
                        <a href="{% url 'setor:setor_servicos' servico.setor.id %}" class="alert alert-secondary" role="alert">
                            <div> {{ servico.setor }}</div>
                            <h5><b>{{ servico.titulo }}</b></h5> 
                        </a>    
                    </div>
            {% endfor %}
            </div>

        {% else %}
        <p class="alert alert-danger">Desculpe, pesquisa não encontrada tente novamente com outros
        termos ou confira a  <a  href="{% url 'setor:setores' %}"> <b> Lista Setores <b> </a>

        </p>
        {% endif %}
 

             <!-- Modal -->
            {% for servico in servico_list %}
            <div class="modal fade" id="modal{{servico.pk}}" tabindex="-1" role="dialog"
                aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="{% url 'setor:setor_servicos' servico.setor.id %}" class="btn btn-dark">
                                <h5 class="modal-title" id="TituloModalCentralizado">{{ servico.setor }}</h5>
                            </a>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> 
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert">
                                <p class="card-text"><b>Descrição:</b> {{ servico.descricao }}</p>
                            </div>

                            <div class="alert alert-info" role="alert">
                              <p class="card-text"><b>Documentos:</b> {{ servico.documentos }}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}