
{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<!-- <center>
    <div class="row">
      <div class="cols">
        <form action="." method="GET" class="form-inline">
          <input type="text" id="search" name="search" class="form-control" placeholder="Pesquisar">
          <input type="submit" class="btn btn-primary btn-round" value="Pesquisar">
        </form>
        <br>
      </div>
    </div>
</center> -->
<h5>Neste Sistema:</h5>
<div class="alert alert-dark" role="alert">
  Contém as principais informações dos setores da UFAC
</div>

<div class="alert alert-success" role="alert">
  Detalhamento dos serviços disponibilizados
</div>
<div class="alert alert-warning" role="alert">
  Localização e forma de contato com os Setores
</div>
<div class="alert alert-info" role="alert">
  Você tem a opção de visualizar todos os setores com suas informações ou pesquisar pelo desejado
</div>
<div class="alert alert-danger" role="alert">
  Atenção! Esse serviço apenas divulga informação não resolvendo nada.
</div>

{% endblock %}