{% extends 'base.html' %}
{% load static %}
{% block conteudo %}


<!--<head>-->
<!--    <ul class="nav nav-tabs">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" href="#">Ativo</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="#">Link</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link disabled" href="#">Desativado</a>-->
<!--  </li>-->
<!--</ul>-->
<!--</head>-->
<br><br><br>
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-success" type="submit">Pesquisar</button>
</form>
    <br><br>
<div class="container">
  <div class="row">
      {% for setor in setores %}
    <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><h5> Setor: {{ setor.nome }} </h5> </div>
                <div class="card-body">
                <p class="card-text">
                    <b >Responsável: </b> {{ setor.reponsavel }} <br>
                    <b>Endereço:</b> bloco {{ setor.bloco }}, andar {{setor.andar}} {{ setor.sala }}  <br>
                    <b>Telefone:</b> {{ setor.telefone}} <br>
                    <b>E-mail:</b> {{setor.email}} <br>
                    <b>Horário de atendimento:</b> {{ setor.horario }}<br>
                    <a href="{% url 'list_servicos_id' setor.id %}" class="btn btn-success">Mostrar Serviços</a>
                </p>
                </div>
        </div>
    </div>
      {% endfor %}
  </div>
</div>

<!--<div class="card" style="width: 18rem;">-->
<!--  <img class="card-img-top" src="{% static 'imagens/proaes.png' %}" alt="...">-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>-->
<!--  </div>-->
<!--</div>-->
<!--    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalExemplo">PROAES <img src="{% static 'imagens/proaes.png' %}"></button>-->
<!--    <button type="button" class="btn btn-outline-secondary">PROGRAD <img src="{% static 'imagens/prograd.png' %}"></button>-->
<!--    <button type="button" class="btn btn-outline-success">PROPEG  <img src="{% static 'imagens/propeg.png' %}"></button>-->
<!--    <button type="button" class="btn btn-outline-warning">NURCA <img src="{% static 'imagens/nurca.png' %}"></button>-->
<!--    <button type="button" class="btn btn-outline-dark">Setor Médico  <img src="{% static 'imagens/setor_medico.png' %}"></button>-->

<!--&lt;!&ndash; Botão para acionar modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">-->
<!--  Abrir modal de demonstração-->
<!--</button>-->

<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--      <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h5 class="modal-title" id="exampleModalLabel">Proaes</h5>-->
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">-->
<!--              <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--                 <p>-->
<!--                <b color="blue">Pró-reitor:</b>José Sérgio Lopes Siqueira <br>-->
<!--                <b>Endereço:</b> Campus Sede, prédio anexo à Reitoria, estacionamento A, térreo <br>-->
<!--                <b>Telefone:</b> (68) 3229-4250 <br>-->
<!--                <b>E-mail:</b> proaes@ufac.br <br>-->
<!--                <b>Website:</b> <a href="http://www.ufac.br/site/pro-reitorias/prodgep">Proaes</a> <br>-->
<!--                <b>Horário de atendimento:</b> das 7h30 às 19h30 <br>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
<!--             <a type="button" class="btn btn-primary" href="{% url 'setor' %}" >Mostrar Serviços</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

{% endblock %}