{% extends 'base2.html' %}
{% load static %}
{% block conteudo %}

<div class="container"> 
    <h3 class="text-center mt-5 p-5">Mapa dos Blocos</h3>
    <div class="alert alert-warning" role="alert">
        Desenvolvido pelo Núcleo de Tecnologia da Informação-UFAC
        <a href="http://sistemas.ufac.br/mapa/">acesse</a>
    </div>
    <iframe src="http://sistemas.ufac.br/mapa/" height="500" width="500" title="Mapa UFAC" class="container d-flex justify-content-center"></iframe>
</div>
{% endblock %}