{% extends 'base2.html' %}
{% load static %}
{% block conteudo %}

<div class="container"> 
    <h2 class="text-center mt-5 p-5">Mapa dos Blocos</h2>
    <div class="alert alert-dark mt-3" role="alert">
       <h5> Digite o nome do bloco que deseja encontrar a localização no mapa da UFAC.</h5>
    </div>
    <iframe src="http://sistemas.ufac.br/mapa/" height="500" width="500" title="Mapa UFAC" class="container d-flex justify-content-center"></iframe>
    <div class="alert alert-dark mt-3" role="alert">
        Desenvolvido pelo Núcleo de Tecnologia da Informação-UFAC
        <a href="http://sistemas.ufac.br/mapa/">acesse</a>
    </div>
</div>
{% endblock %}