{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><b>Pró-Reitoria de Assuntos Estudantis</b></h4>
    <p> A Proaes é responsável pelo planejamento e execução de uma política de assistência estudantil voltada à promoção de ações afirmativas de acesso e inclusão social que busquem garantir a igualdade de oportunidades aos estudantes, atuando diretamente no fortalecimento do programa de bolsas e auxílios, no atendimento do Restaurante Universitário e na moradia estudantil.
    </p>
    <hr>
  </div>
<br><br>
  <div class="table-responsive">
      <table class="table" class="table table-bordered">
        <thead>
          <tr class="table-warning">
            <th scope="col">Diretorias</th>
            <th scope="col">Responsável</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>Diretoria de Apoio Estudantil</td>
            <td>Cleide Maria Oliveira da Cruz Maia</td>
            <td>(68) 3901-2515</td>
          </tr>
          <tr class="table-light">
            <td >Diretoria de Desenvolvimento Estudantil</td>
            <td>Floripes Silva Rebouças</td>
            <td>(68) 3901-2607</td>
          </tr>
          <tr class="table-light">
            <td>Núcleo de Apoio à Inclusão</td>
            <td>Joseane de Lima Martins</td>
            <td>(68) 3901-2717</td>
          </tr>
        </tbody>
      </table>
  </div>
<br><br><br>
   <center>
     <h2><b>
       <div class="p-3 mb-2 bg-warning text-white">
         Bolsas e Auxílios
       </div>
   </b></h2>
   </center>
<div class="container">
  <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Bolsa</div>
          <div class="card-body">
            <h5 class="card-title"><b>Pró-Estudo</b></h5>
            <p class="card-text">
              Objetiva apoiar estudantes em situação de vulnerabilidade socioeconômica no desenvolvimento de ações voltadas ao Estudo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Bolsa</div>
          <div class="card-body">
            <h5 class="card-title"><b>Pró-Inclusão</b></h5>
            <p class="card-text">
              Bolsa destinada a todos os estudantes do primeiro período que ingressam
              como cotista em condição de vulnerabilidade socioeconômica.

            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Auxílio</div>
          <div class="card-body">
            <h5 class="card-title"><b>Passe Livre</b></h5>
            <p class="card-text">
              Destinado ao pagamento diário do deslocamento do estudante, em condição de vulnerabilidade socioeconômica, à Ufac.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}