{% extends 'base2.html' %}
{% load static %}
{% block conteudo %}
<br><br><br><br>
<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading"><b>{{ setor.nome}} </b></h4>
    <p> {{ setor.descricao }}</p>
    <hr>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm mt-2">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Informações Gerais</h5>
                <p class="card-text">
                    <p> <b> Responsável:</b> {{ setor.reponsavel }} </p>
                    <p> <b>Telefone:</b> {{ setor.telefone}} </p>
                    <p> <b>E-mail:</b> {{setor.email}} </p>
                    <p> <b>Horário de atendimento:</b> {{ setor.horario_inicio }} até {{ setor.horario_fim}}</p>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <h5 class="text-center">Localização</h5>
        <iframe src="{{setor.localizacao}}" height="300" width="500" title="Iframe Example"></iframe>
    </div>
  </div>
</div>


{% if diretoria_list %}
<div class="table-responsive">
    <table class="table" class="table table-bordered">
        <thead>
            <tr class="table-warning">
                <th scope="col">Diretorias</th>
                <th scope="col">Responsável</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for diretoria in diretoria_list %}
            <tr class="table-light">
                <td>{{ diretoria.nome }}</td>
                <td>{{ diretoria.responsavel }}</td>
                <td>{{ diretoria.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br>
<center>
    <h2>
        <b>
            <div class="p-3 mb-2 bg-info text-white">Lista de Serviços</div>
        </b>
    </h2>
</center>

<div class="container">
{% for servico in servico_list %}
        <div class="alert alert-info d-flex justify-content-between" role="alert">
            <p> <b> Serviço: </b> {{ servico.titulo }} </p>
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal{{servico.pk}}">
                Ver detalhes
            </button>
        </div>
{% endfor %}
</div>


    <!-- Modal -->
    {% for servico in servico_list %}
    <div class="modal fade" id="modal{{servico.pk}}" tabindex="-1" role="dialog"
        aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">{{ servico.titulo }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                                <p class="card-text"><b>Descrição:</b> {{ servico.descricao }}</p>
                    </div>
                    {% if  servico.documentos %}
                        <div class="alert alert-info" role="alert">
                              <p class="card-text"><b>Documentos:</b> {{ servico.documentos }}</p>
                        </div>
                    {% endif %}
                   
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}