{% extends 'base2.html' %}
{% load static %}
{% block conteudo %}

<br><br><br><br>

<div class="alert alert-primary" role="alert">
    <h4>
        Esse Sistema foi desenvolvido com o intuito de facilitar a procura  disponibilizando
        informações sobre os serviços da UFAC
        facilitando assim a identificação dos setores que são responsáveis por solucionar possíveis dúvidas
        e problemas da Universidade, proporcionando a melhoria desse processo.
    </h4>

</div>

<center>
    <img src="{% static 'img/sobre.svg' %}" width="150">
</center>
<br>

<h5>Desenvolvido para a disciplina de Engenharia de Software da Universidade Federal do Acre,
    pelos os alunos de Sistemas de Informação: </h5>
<h5>
    <p>Andrielle de Lima Bezerra</p>
    <p>Mickael Labres Trombetta</p>
    <p>Sávyo Silva Souza</p>
</h5>


{% endblock %}