{% extends 'base2.html' %}
{% load static %}
{% load bootstrap %}

{% block conteudo %}
<br><br><br><br>
<div class="row">
    <div class="col-lg">
    {% for  message in messages %}
         <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h6 class="card-title">Caso não encontre determinada informação envie uma sugestão para inclusão. </h6>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                            <form method="POST" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-6">
                                    {{ form }}
                                </div>
                            </div>
                            <div class="container">
                                <button id="add" type="submit" class="btn btn-success btn-round">Enviar</button>
                                <a href="{% url 'base:home' %}" class="btn btn-danger btn-round">Cancelar</a>
                            </div>
                        </form>                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}